@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-container-size);
    padding: 0 var(--spacing-xx-large);
    margin: 0 auto;
    height: 80px;
    z-index: 5;
}

@include down($screen_sm_end) {
    .root {
        height: 70px;
    }
}


@include xs {
    .root {
        height: 60px;
    }
}