:root {
  /* General Tokens - Color - Primary */
  --primary-text: var(--gray-50);
  --secondary-text: var(--gray-300);
  --disabled-text: var(--gray-500);

  /* General Tokens - Color - Background */
  --default-background: var(--gray-900);
  --paper-background: var(--gray-700);
  --divider: var(--gray-200);

  /* General Tokens - Color - Primary */
  --primary-ultra-light: var(--brand-200);
  --primary-light: var(--brand-300);
  --primary-main: var(--brand-500);
  --primary-dark: var(--brand-700);
  --primary-ultra-dark: var(--brand-800);
  --primary-contrast-text: var(--white);

  /* General Tokens - Color - Secondary */
  --secondary-ultra-light: var(--purple-200);
  --secondary-light: var(--purple-300);
  --secondary-main: var(--purple-500);
  --secondary-dark: var(--purple-700);
  --secondary-ultra-dark: var(--purple-800);
  --secondary-contrast-text: var(--white);

  /* General Tokens - Color - System Feedback Info */
  --info-light: var(--blue-300);
  --info-main: var(--blue-500);
  --info-dark: var(--blue-700);
  --info-text: var(--white);

  /* General Tokens - Color - System Feedback Success */
  --success-light: var(--green-300);
  --success-main: var(--green-500);
  --success-dark: var(--green-700);
  --success-text: var(--white);

  /* General Tokens - Color - System Feedback Error */
  --error-light: var(--red-300);
  --error-main: var(--red-500);
  --error-dark: var(--red-700);
  --error-text: var(--white);

  /* General Tokens - Color - System Feedback Warning */
  --warning-light: var(--yellow-300);
  --warning-main: var(--yellow-500);
  --warning-dark: var(--yellow-700);
  --warning-text: var(--white);

  /* General Tokens - Color - Action */
  --link-color: var(--blue-600);
  --link-hover-color: var(--blue-400);
  --link-focus-color: var(--blue-800);
  --action-active: var(--brand-500);
  --action-hover: var(--brand-300);
  --action-focus: var(--brand-700);
  --action-selected: var(--brand-700);
  --action-disabled: var(--gray-300);
  --action-disabled-background: var(--white);

  /* General Tokens - Font - Size */
  --font-size-h1: calc(var(--rem-size-9) * 1rem);
  --font-size-h2: calc(var(--rem-size-8) * 1rem);
  --font-size-h3: calc(var(--rem-size-7) * 1rem);
  --font-size-h4: calc(var(--rem-size-6) * 1rem);
  --font-size-h5: calc(var(--rem-size-5) * 1rem);
  --font-size-h6: calc(var(--rem-size-5) * 1rem);
  --font-size-body1: calc(var(--rem-size-4) * 1rem);
  --font-size-body2: calc(var(--rem-size-2) * 1rem);
  --font-size-subtitle1: calc(var(--rem-size-4) * 1rem);
  --font-size-subtitle2: calc(var(--rem-size-4) * 1rem);
  --font-size-button1: calc(var(--rem-size-4) * 1rem);
  --font-size-button2: calc(var(--rem-size-2) * 1rem);
  --font-size-caption: calc(var(--rem-size-2) * 1rem);
  --font-size-overline: calc(var(--rem-size-2) * 1rem);
  --font-size-tiny: calc(var(--rem-size-1) * 1rem);
  --font-size-x-small: calc(var(--rem-size-1) * 1rem);
  --font-size-small: calc(var(--rem-size-2) * 1rem);
  --font-size-normal: calc(var(--rem-size-4) * 1rem);
  --font-size-medium: calc(var(--rem-size-5) * 1rem);
  --font-size-large: calc(var(--rem-size-6) * 1rem);
  --font-size-x-large: calc(var(--rem-size-7) * 1rem);

  /* General Tokens - Font - Weight */
  --font-weight-black: var(--font-weight-900);
  --font-weight-extra-bold: var(--font-weight-800);
  --font-weight-bold: var(--font-weight-700);
  --font-weight-demibold: var(--font-weight-600);
  --font-weight-medium: var(--font-weight-500);
  --font-weight-regular: var(--font-weight-400);
  --font-weight-light: var(--font-weight-300);
  --font-weight-ultra-light: var(--font-weight-200);
  --font-weight-thin: var(--font-weight-100);

  --font-weight-h1: var(--font-weight-black);
  --font-weight-h2: var(--font-weight-extra-bold);
  --font-weight-h3: var(--font-weight-bold);
  --font-weight-h4: var(--font-weight-bold);
  --font-weight-h5: var(--font-weight-bold);
  --font-weight-h6: var(--font-weight-medium);
  --font-weight-body1: var(--font-weight-regular);
  --font-weight-body2: var(--font-weight-regular);
  --font-weight-subtitle1: var(--font-weight-bold);
  --font-weight-subtitle2: var(--font-weight-medium);
  --font-weight-button1: var(--font-weight-demibold);
  --font-weight-button2: var(--font-weight-bold);
  --font-weight-caption: var(--font-weight-light);
  --font-weight-overline: var(--font-weight-medium);
  --font-weight-tiny: var(--font-weight-demibold);

  /* General Tokens - Font - Line Height */
  --line-height-h1: calc(var(--rem-size-15) * 1rem);
  --line-height-h2: calc(var(--rem-size-14) * 1rem);
  --line-height-h3: calc(var(--rem-size-13) * 1rem);
  --line-height-h4: calc(var(--rem-size-12) * 1rem);
  --line-height-h5: calc(var(--rem-size-11) * 1rem);
  --line-height-h6: calc(var(--rem-size-11) * 1rem);
  --line-height-body1: calc(var(--rem-size-9) * 1rem);
  --line-height-body2: calc(var(--rem-size-8) * 1rem);
  --line-height-subtitle1: calc(var(--rem-size-9) * 1rem);
  --line-height-subtitle2: calc(var(--rem-size-9) * 1rem);
  --line-height-button1: calc(var(--rem-size-9) * 1rem);
  --line-height-button2: calc(var(--rem-size-8) * 1rem);
  --line-height-caption: calc(var(--rem-size-8) * 1rem);
  --line-height-overline: calc(var(--rem-size-8) * 1rem);
  --line-height-tiny: calc(var(--rem-size-6) * 1rem);
  --line-height-x-small: calc(var(--rem-size-5) * 1rem);
  --line-height-small: calc(var(--rem-size-7) * 1rem);
  --line-height-normal: calc(var(--rem-size-6) * 1rem);
  --line-height-medium: calc(var(--rem-size-10) * 1rem);
  --line-height-large: calc(var(--rem-size-12) * 1rem);
  --line-height-x-large: calc(var(--rem-size-13) * 1rem);

  /* General Tokens - Scree Size */
  --screen-xs-end: calc(var(--screen-sm) * 1px - 1px);
  --screen-sm-end: calc(var(--screen-md) * 1px - 1px);
  --screen-md-end: calc(var(--screen-lg) * 1px - 1px);
  --screen-lg-end: calc(var(--screen-xl) * 1px - 1px);

  /* General Tokens - Spacing */
  --spacing-none: calc(var(--point-0) * 1px);
  --spacing-xxx-small: calc(var(--point-1) * 1px);
  --spacing-xx-small: calc(var(--point-2) * 1px);
  --spacing-x-small: calc(var(--point-4) * 1px);
  --spacing-small: calc(var(--point-6) * 1px);
  --spacing-base: calc(var(--point-8) * 1px);
  --spacing-large: calc(var(--point-12) * 1px);
  --spacing-x-large: calc(var(--point-16) * 1px);
  --spacing-xx-large: calc(var(--point-24) * 1px);
  --spacing-xxx-large: calc(var(--point-32) * 1px);

  /* General Tokens - Radius */
  --border-radius-x-small: calc(var(--point-2) * 1px);
  --border-radius-small: calc(var(--point-4) * 1px);
  --border-radius-normal: calc(var(--point-8) * 1px);
  --border-radius-large: calc(var(--point-12) * 1px);
  --border-radius-large: calc(var(--point-16) * 1px);
  --border-radius-x-large: calc(var(--point-24) * 1px);
  --border-radius-xx-large: calc(var(--point-32) * 1px);

  --member-layout-width: 400px;
  --member-layout-width-mobile: 320px;
  --member-layout-width-wide: 600px;
}



@media (prefers-color-scheme: dark) {
  :root {
    --border-radius-x-small: var(--point-2);
  }
}